.contener{
    display: flex;
    height: 100%;
    width: 100%;
}
.item1{

}
.item2{
    margin-left: 40px;
}
#bande_v{
height: 550px;
width: 200px;
background-color: gray;
margin-left: 40px;
}
#bande_v1{
    background-color: black;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 250px;
    width: 200px   
}
#bande_v2{
    position: relative;
    margin-top: 100px;
    background-color: black;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    height: 350px;
    width: 200px   
    
}
.cadre{
    background-color: white;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    overflow: hidden;
    margin-left: 40px;
    margin-top: 100px;
    height: 120px;
    width: 120px
    
}
.cadre img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.icone{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    overflow: hidden;
}
.icone img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.text{
    font-size: 25px;
}
.p_cadre{
    display: flex;
}
.contact{
    color: white;
    margin-left: 20px;
}
.formation{
    position: absolute;
    color: white;
    top: 40px;
    margin-left: 20px;
}
.langue{
    position: absolute;
    z-index: 1;
    top: 170px;
    color: white;
    margin-left: 20px;
}
#nom{
    color: white;
    margin-left: 30px;
    font-size: 25px;
}
#c_nom{
    color: white;
    margin-left: 40px;
    margin-top: 10px;
}
p{
    font-weight: bold;
}
.a_propos{
    margin-top: 0px;
    text-align: justify;
}
.experience{
    margin-top: 20px;
}
.date{
    margin-left: 90px;
}
.date1{
    margin-left: 170px;
}
.competence{
    margin-top: 20px;
}
.realisation{
    margin-top: 20px;
}
.t_apropos{
    
}
.item3{
    height: 810px;
    width: 5px;
    margin-left: 5px;
    background-color: black;
}